*.pyc
*.swp
__pycache__
skip
*log*
.ropeproject
.coverage
htmlcov
irida_import/sample.dat
irida_import/config.ini
irida_import.xml
irida_import/tests/integration/repos/*
env
/.idea
/.venv
miniconda*
.vscode
.virtualenv
irida_import.egg-info
