sudo: required
language: java

dist: xenial

services:
  - mysql
  - postgresql
  - xvfb

addons:
  chrome: stable

jdk:
  - openjdk8

env:
  global:
    - "MYSQL_DATABASE=irida_test"
    - "MYSQL_USER=test"
    - "MYSQL_PASSWORD=test"
    - "MAVEN_OPTS=-Djava.awt.headless=true"
    - "CHROMEDRIVER_VERSION=75.0.3770.140"
    - "XVFB_STARTED=1"

cache:
  directories:
    - $HOME/.m2

install:
  - sudo apt-get install python2.7
  - mysql -e "SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));"
  - mysql -e "CREATE USER '$MYSQL_USER'@'localhost' IDENTIFIED BY '$MYSQL_PASSWORD'; GRANT ALL ON $MYSQL_DATABASE.* to '$MYSQL_USER'@'localhost';"
  - psql -c 'create database galaxy_test;' -U postgres
  - mvn -version
  - source .ci/install_deps.sh $CHROMEDRIVER_VERSION

script: ./run-tests.sh
