
[Galaxy]

admin_key: 09008eb345c9d5a166b0d8f301b1e72c
galaxy_url: http://localhost:8888
illumina_path: /illumina_reads
reference_path: /references
xml_file: ../irida_import.xml
max_waits: 120
max_client_http_attempts: 10
client_http_retry_delay: 30
tool_id: irida_import
tool_description: server

[IRIDA]

client_secret: webClientSecret
token_endpoint_suffix: /api/oauth/token

# Be sure to run the tool with the '--config' option and then to restart Galaxy after changing these values!
client_id: auth_code_client
irida_url: http://localhost:8080
initial_endpoint_suffix: /projects

# Irida file storage mechanism (azure, aws, local)
#irida_storage_type: local


# Azure configuration
#azure_container_name: AZURE_CONTAINER_NAME
#azure_account_name: AZURE_ACCOUNT_NAME
#azure_account_key: AZURE_ACCOUNT_KEY

#azure_account_url: AZURE_ACCOUNT_URL
#azure_sas_token: AZURE_SAS_TOKEN

# AWS configuration
#aws_bucket_name: AWS_BUCKET_NAME
