<tool add_galaxy_url="False" force_history_refresh="True" id="irida_import" name="IRIDA" tool_type="data_source" version="1.3.2">
    <description>server</description>
    <requirements>
        <requirement type="package" version="1.3.0">irida-galaxy-importer</requirement>
    </requirements>
    <command interpreter="python">irida_import.py
	    --json_parameter_file "${output}" --log-file $log_file --history-id "$__app__.security.encode_id($output.history.id)"
    </command>
    <inputs action="http://localhost:8080/projects" check_values="False" method="post">
        <display>import data from IRIDA to Galaxy</display>
        <param name="galaxyCallbackUrl" type="hidden" value="GALAXY_URL/tool_runner?tool_id=irida_import&amp;runtool_btn=Execute" />
	<param name="appName" type="hidden" value="Galaxy" />
	<param name="galaxyClientID" type="hidden" value="webClient" />
    </inputs>
    <uihints minwidth="800" />
    <outputs>
	    <data format="txt" label="IRIDA Export" name="log_file" />
	    <data format="auto" hidden="True" name="output" />
    </outputs>
    <options refresh="True" sanitize="False" />
</tool>
